extends layout

block content
  #breadcrumb
    a(href='/') HOME
    span >
    a(href='/') ALL DOGS 
    span='>'+' '+title
  #dogMain
    .dog_detail_div
      figure
        img(src='/'+dog.img alt='dog picture')
      .dogInfo
        .dogInfoText  
          h1= title
          p='Breed: '+dog.breed
          p='Age: '+dog.age
          p='Gender: '+dog.gender      
    a(href='/dogs/1').link Back to main page