extends layout

block content
    #breadcrumb
        a(href='/') HOME
        span > FILTER
    #mainFilter    
        h1=title
        .dogs_div
            for dog in filter
                .dog  
                    figure
                        img(src=dog.img).img
                    h3.name=dog.name
                    .info
                        p.breed=dog.breed
                            span.age=' - '+dog.age
                        .dogsBtn
                            a(href='/dogs/dog/'+dog.id) Info
                         
                        
        a(href='/').link Back to main page