extends layout

block content
  h1= title
  p Welcome to #{title}
  #main
    aside.filters_div
      form(action="/filtered" method="POST")
        label(for="breeds") Breed
        select#breeds(name="breeds")
          option(value="All") All
          option(value="Border Collie") Border Collie
          option(value="Labrador") Labrador
          option(value="Pug") Pug
          option(value="Gran Danes") Gran Danes
        label(for="sizes") Size
        select#sizes(name="sizes")
          option(value="All") All
          option(value="Small") Small
          option(value="Medium") Medium
          option(value="Large") Large
        label(for="ages") Age
        select#ages(name="ages")
          option(value="All") All
          option(value="Puppy") Puppy
          option(value="Adult") Adult
          option(value="Senior") Senior
        #btn-filter-div
          input#btn-filter(type="submit" value="Filter")
    .dogs_div
        for dog in dogsPerPage
            .dog  
                figure
                    img(src=dog.img alt='dog picture')
                .info
                    p.breed=dog.breed
                    p.age=dog.age
                    .dogsBtn
                    a(href='/'+page+'/'+dog.id) Info
                    .fav  
                    p
                        i(class="far fa-heart" data-id=dog.breed).icon
  .pages-div        
      ul
          each pag, index in pages
              li= index+1 
                  a(href=pag) pag
  